<div class="form-container">
    <form [formGroup]="form" (submit)="submit()">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Interviewer Name</mat-label>
            <input matInput formControlName="interviewerName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Output Directory</mat-label>
            <input matInput formControlName="outputDirectory">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Input Directory</mat-label>
            <input matInput formControlName="inputDirectory">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Asp.Net Core Code File Name</mat-label>
            <input matInput formControlName="aspNetCoreCodeFileName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Wpf Code File Name</mat-label>
            <input matInput formControlName="wpfCodeFileName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Question Materials File Name</mat-label>
            <input matInput formControlName="questionMaterialsFileName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Interview Form File Name</mat-label>
            <input matInput formControlName="interviewFormFileName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Website Url</mat-label>
            <input matInput formControlName="websiteUrl">
        </mat-form-field>
        <button mat-flat-button class="btn" color="primary" type="submit">Save</button>
    </form>
</div>