form{
    padding: 10px 0px 10px 0px;
}

.form-field {
    display: block;
    margin: 0px 10px 0px 10px;
}

.sub-entry {
    width: 50%;
    float: left;
}

.button {
    text-align: center;
    clear: both;
}