<mat-stepper #stepper linear="true" (selectionChange)="stepperSelectionChange($event)">
  <mat-step [completed]="tiDirectoryName">
    <ng-template matStepLabel>
      <p class="mb-0 label">TI Directory</p>
      <p class="mb-0 sub-label">{{tiDirectoryName}}</p>
    </ng-template>
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="selectTiDirectory(stepper)">
      <span>Select TI Directory</span>
      <mat-icon>folder_open</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="candidateNameFormGroup">
    <ng-template matStepLabel>
      <p class="mb-0 label">Candidate Name</p>
      <p class="mb-0 sub-label">{{candidateName}}</p>
    </ng-template>
    <form [formGroup]="candidateNameFormGroup">
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Candidate Name</mat-label>
        <input type="text" matInput formControlName="candidateName" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of candidateNames" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Search Candidate" optional="true">
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="googleSearch()">
      <span>Google</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="linkedInPeopleSearch()">
      <span>LinkedIn</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="gitHubUserSearch()">
      <span>GitHub</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="overviewFormGroup" label="Overview">
    <form [formGroup]="overviewFormGroup">
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Interviewer Name</mat-label>
        <input matInput formControlName="interviewerName" type="text">
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Relevant Experience</mat-label>
        <input matInput formControlName="relevantExperience" type="number" autocomplete="off">
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="selectedTask">
    <ng-template matStepLabel>
      <p class="mb-0 label">Select Task</p>
      <p class="mb-0 sub-label">{{selectedTask}}</p>
    </ng-template>
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="selectAspNetCoreCodeReview(stepper)">
      <span>ASP.Net Core Code Review</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="selectWpfCodeReview(stepper)">
      <span>WPF Code Review</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="taskFormGroup">
    <ng-template matStepLabel>
      <p class="mb-0 label">Task</p>
      <p class="mb-0 sub-label">{{(getTaskScore(selectedTask) | number:'1.2-2') ?? 0}}/4</p>
    </ng-template>
    <form [formGroup]="taskFormGroup">
      <table>
        <tr *ngFor="let item of taskItems">
          <td class="score-column">
            <app-score [(selectedValue)]="item.score" (change)="handleTaskScoreChange()"></app-score>
          </td>
          <td>
            {{item.question}}
          </td>
        </tr>
      </table>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="questionsFormGroup">
    <ng-template matStepLabel>
      <p class="mb-0 label">CS Questions</p>
      <div class="mb-0 sub-label">
        <span [class]="scoring?.junior?.result ?? 'Failed'">J:{{(scoring?.junior?.score | number:'1.2-2') ?? 0}} </span>
        <span [class]="scoring?.regular?.result ?? 'Failed'">R:{{(scoring?.regular?.score | number:'1.2-2') ?? 0}}
        </span>
        <span [class]="scoring?.senior?.result ?? 'Failed'">S:{{(scoring?.senior?.score | number:'1.2-2') ?? 0}}</span>
      </div>
    </ng-template>
    <form [formGroup]="questionsFormGroup">
      <mat-stepper orientation="vertical">
        <mat-step *ngFor="let section of sections; first as isFirst; last as isLast" [label]="(section.title ?? '')"
          optional="true">
          <table>
            <tr>
              <th colspan="4">
                <h3>Sudden Death</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.suddenDeathItems">
              <td class="score-column">
                <app-score [values]="[1, 2, 3, 4]" [(selectedValue)]="item.score"
                  (change)="handleQuestionsScoreChange()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Mandatory</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.mandatoryItems">
              <td class="score-column">
                <app-score [values]="[1, 2, 3, 4]" [(selectedValue)]="item.score"
                  (change)="handleQuestionsScoreChange()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Junior (Score: {{section.juniorScore | number:'1.2-2'}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.juniorItems">
              <td class="score-column">
                <app-score [values]="[1, 2, 3, 4]" [(selectedValue)]="item.score"
                  (change)="handleQuestionsScoreChange()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Regular (Score: {{section.regularScore | number:'1.2-2'}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.regularItems">
              <td class="score-column">
                <app-score [values]="[1, 2, 3, 4]" [(selectedValue)]="item.score"
                  (change)="handleQuestionsScoreChange()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Senior (Score: {{section.seniorScore | number:'1.2-2'}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.seniorItems">
              <td class="score-column">
                <app-score [values]="[1, 2, 3, 4]" [(selectedValue)]="item.score"
                  (change)="handleQuestionsScoreChange()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
          </table>
          <div>
            <button mat-button matStepperPrevious type="button" *ngIf="!isFirst">Back</button>
            <button mat-button matStepperNext type="button" *ngIf="!isLast">Next</button>
          </div>
        </mat-step>
      </mat-stepper>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="resultFormGroup" label="Result">
    <form [formGroup]="resultFormGroup">
      <table class="m-2">
        <tr>
          <th class="scoring-header">Scoring</th>
          <th class="scoring-header">Score</th>
          <th class="scoring-header">Result</th>
        </tr>
        <tr>
          <td>Junior</td>
          <td>{{scoring?.junior?.score | number:'1.2-2'}}</td>
          <td>{{scoring?.junior?.result}}</td>
        </tr>
        <tr>
          <td>Regular</td>
          <td>{{scoring?.regular?.score | number:'1.2-2'}}</td>
          <td>{{scoring?.regular?.result}}</td>
        </tr>
        <tr>
          <td>Senior</td>
          <td>{{scoring?.senior?.score | number:'1.2-2'}}</td>
          <td>{{scoring?.senior?.result}}</td>
        </tr>
      </table>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Communication</mat-label>
        <mat-select formControlName="communication">
          <mat-option>None</mat-option>
          <mat-option value="Not assessed">Not assessed</mat-option>
          <mat-option value="Not communicative at all">Not communicative at all</mat-option>
          <mat-option value="Poor English / strong accent">Poor English / strong
            accent</mat-option>
          <mat-option value="Good English / strong accent">Good English / strong
            accent</mat-option>
          <mat-option value="Easy to talk to">Easy to talk to</mat-option>
          <mat-option value="Good English / no accent">Good English / no accent</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Final Result Level</mat-label>
        <mat-select formControlName="finalResultLevel">
          <mat-option>None</mat-option>
          <mat-option value="Failed">Failed</mat-option>
          <mat-option value="Junior">Junior</mat-option>
          <mat-option value="Regular">Regular</mat-option>
          <mat-option value="Senior">Senior</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Overall Impression</mat-label>
        <textarea matInput formControlName="overallImpression"></textarea>
        <button *ngIf="resultFormGroup.get('overallImpression')?.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="resultFormGroup.get('overallImpression')?.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked">
          <mat-chip *ngFor="let sentence of settingsService.preformedSentences" color="primary"
            (click)="addSentence(sentence)">
            {{sentence}}
          </mat-chip>
        </mat-chip-listbox>
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Done">
    <h1>🎈🎊🎉</h1>
    <p>Please check the excel before sending.</p>
    <p>Open Excel in editable mode and press <b>CTRL</b> + <b>ALT</b> + <b>F9</b>.</p>
    <p>Thank you for your time!</p>
    <div>
      <button mat-button type="button" (click)="reset(stepper)">Reset</button>
    </div>
  </mat-step>
</mat-stepper>