<mat-stepper #stepper linear="true" (selectionChange)="stepperSelectionChange($event)">
  <mat-step label="TI Directory" [completed]="tiDirectoryName">
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="selectTiDirectory(stepper)">
      <span>Select TI Directory (Current: {{tiDirectoryName ?? "None"}})</span>
      <mat-icon>folder_open</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="candidateNameFormGroup" label="Candidate Name">
    <form [formGroup]="candidateNameFormGroup">
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Candidate Name</mat-label>
        <input type="text" matInput formControlName="candidateName" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of candidateNames" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Search Candidate" optional="true">
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="googleSearch()">
      <span>Google</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="linkedInPeopleSearch()">
      <span>LinkedIn</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="gitHubUserSearch()">
      <span>GitHub</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="overviewFormGroup" label="Overview">
    <form [formGroup]="overviewFormGroup">
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Interviewer Name</mat-label>
        <input matInput formControlName="interviewerName" type="text">
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Relevant Experience</mat-label>
        <input matInput formControlName="relevantExperience" type="number" autocomplete="off">
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Select Task" [completed]="selectedTask">
    <button mat-flat-button class="w-100 my-2" color="primary" (click)="selectAspNetCoreCodeReview(stepper)">
      <span>ASP.Net Core Code Review</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-flat-button class="w-100 mb-2" color="primary" (click)="selectWpfCodeReview(stepper)">
      <span>WPF Code Review</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-step>
  <mat-step [stepControl]="taskFormGroup" [label]="selectedTask ?? 'Task'">
    <form [formGroup]="taskFormGroup">
      <table>
        <tr *ngFor="let item of taskItems">
          <td class="score-column">
            <app-score [(selectedValue)]="item.score" (change)="processTaskStep()"></app-score>
          </td>
          <td>
            {{item.question}}
          </td>
        </tr>
      </table>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="questionsFormGroup" label="CS Questions">
    <form [formGroup]="questionsFormGroup">
      <mat-stepper orientation="vertical">
        <mat-step *ngFor="let section of sections; first as isFirst; last as isLast" [label]="(section.title ?? '')"
          optional="true">
          <table>
            <tr>
              <th colspan="4">
                <h3>Sudden Death</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.suddenDeathItems">
              <td class="score-column">
                <app-score [(selectedValue)]="item.score" (change)="processQuestionsStep()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Mandatory</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.mandatoryItems">
              <td class="score-column">
                <app-score [(selectedValue)]="item.score" (change)="processQuestionsStep()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Junior (Score: {{section.juniorScore}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.juniorItems">
              <td class="score-column">
                <app-score [(selectedValue)]="item.score" (change)="processQuestionsStep()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Regular (Score: {{section.regularScore}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.regularItems">
              <td class="score-column">
                <app-score [(selectedValue)]="item.score" (change)="processQuestionsStep()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                <h3>Senior (Score: {{section.seniorScore}})</h3>
              </th>
            </tr>
            <tr *ngFor="let item of section.seniorItems">
              <td class="score-column">
                <app-score [(selectedValue)]="item.score" (change)="processQuestionsStep()"></app-score>
              </td>
              <td>
                {{item.question}}
              </td>
              <td class="button-column">
                <button *ngIf="getQuestionMaterial(item.row)" mat-flat-button color="primary" type="button"
                  (click)="selectQuestionMaterial(item.row)">Line
                  {{item.row}} - Copy
                  Code</button>
              </td>
              <td class="px-3">
                {{item.answer}}
              </td>
            </tr>
          </table>
          <div>
            <button mat-button matStepperPrevious type="button" *ngIf="!isFirst">Back</button>
            <button mat-button matStepperNext type="button" *ngIf="!isLast">Next</button>
          </div>
        </mat-step>
      </mat-stepper>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="resultFormGroup" label="Result">
    <form [formGroup]="resultFormGroup">
      <table class="my-2">
        <tr>
          <th>Scoring </th>
          <th>Score </th>
          <th>Result </th>
        </tr>
        <tr>
          <td>Junior</td>
          <td>{{scoring?.junior?.score}}</td>
          <td>{{scoring?.junior?.result}}</td>
        </tr>
        <tr>
          <td>Regular</td>
          <td>{{scoring?.regular?.score}}</td>
          <td>{{scoring?.regular?.result}}</td>
        </tr>
        <tr>
          <td>Senior</td>
          <td>{{scoring?.senior?.score}}</td>
          <td>{{scoring?.senior?.result}}</td>
        </tr>
      </table>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Communication</mat-label>
        <mat-select formControlName="communication">
          <mat-option>None</mat-option>
          <mat-option value="Not assessed">Not assessed</mat-option>
          <mat-option value="Not communicative at all">Not communicative at all</mat-option>
          <mat-option value="Poor English / strong accent">Poor English / strong
            accent</mat-option>
          <mat-option value="Good English / strong accent">Good English / strong
            accent</mat-option>
          <mat-option value="Easy to talk to">Easy to talk to</mat-option>
          <mat-option value="Good English / no accent">Good English / no accent</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Final Result Level</mat-label>
        <mat-select formControlName="finalResultLevel">
          <mat-option>None</mat-option>
          <mat-option value="Failed">Failed</mat-option>
          <mat-option value="Junior">Junior</mat-option>
          <mat-option value="Regular">Regular</mat-option>
          <mat-option value="Senior">Senior</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="d-block mx-1" appearance="fill">
        <mat-label>Overall Impression</mat-label>
        <textarea matInput formControlName="overallImpression"></textarea>
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Done">
    <h3>Q&A Part:</h3>
    <p>If you have any questions you can ask me now.</p>
    <mat-divider></mat-divider>
    <h3>Finishing:</h3>
    <p>Thank you for taking the time to participate in our technical interview.</p>
    <p>I will send your results to my colleague and he/she will return to you for the next steps.</p>
    <p>If you have any further questions or concerns, you can ask him/her as well.</p>
    <p>I appreciate your interest in our company and I wish you the best of luck in your job search.</p>
    <div>
      <button mat-button type="button" (click)="reset(stepper)">Reset</button>
    </div>
  </mat-step>
</mat-stepper>