.score-column {
    width: 300px;
}

.button-column {
    width: 200px;
}

textarea {
    height: 230px !important;
}

.label {
    font-size: 14px;
}

.sub-label {
    font-size: 12px;
    color: #FFFFFFB3;
}