<div class="form-container">
    <form [formGroup]="form" (submit)="submit()">
        <p>{{tiDirectoryName ?? "Please select a TI directory..."}}</p>
        <button mat-flat-button class="btn" color="primary" (click)="selectTiDirectory()">Select TI Directory</button>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Candidate Name</mat-label>
            <input type="text" matInput formControlName="candidateName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let name of candidateNames" [value]="name">
                    {{name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Interviewer Name</mat-label>
            <input matInput formControlName="interviewerName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Relevant Experience</mat-label>
            <input matInput formControlName="relevantExperience">
        </mat-form-field>
        <button mat-flat-button class="btn" color="primary" type="submit">Create Candidate Folder</button>
        <button mat-flat-button class="btn" color="primary" type="submit">Update Candidate Folder</button>
        <button mat-flat-button class="btn" color="primary" (click)="openCandidateFolder()">Open Candidate
            Folder</button>
    </form>
</div>