<mat-toolbar color="primary">
  <img style="margin-right: 10px;" src="assets/icon.svg" alt="Icon" />
  <span>TI Wizard</span>
  <span class="spacer"></span>
  <nav>
    <button mat-flat-button color="primary" routerLink="/" routerLinkActive="active"
      ariaCurrentWhenActive="page">Wizard</button>
    <button mat-flat-button color="primary" routerLink="/settings" routerLinkActive="active"
      ariaCurrentWhenActive="page">Settings</button>
    <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active"
      ariaCurrentWhenActive="page">About</button>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>