<mat-toolbar color="primary">
  <span>TI Helper</span>
  <span class="spacer"></span>
  <nav>
    <button mat-flat-button color="primary" routerLink="/main" routerLinkActive="active"
      ariaCurrentWhenActive="page">Main</button>
    <button mat-flat-button color="primary" routerLink="/settings" routerLinkActive="active"
      ariaCurrentWhenActive="page">Settings</button>
    <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active"
      ariaCurrentWhenActive="page">About</button>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>